@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    height: 95px;
    background: #3D474D;
}

nav img {
    width: 70px;
    position: absolute;
    top: 13px;
    left: 12%;
    border-radius: 50%;
    cursor: pointer;
}

nav img:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 91px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    transition: 4s;
    text-decoration: none;
}

nav ul li a::before {
    content: ' ';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
}

.for_social_icons {
    display: inline;
    cursor: pointer;
} 

.for_social_icons:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
} 

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 91px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

    body {
        display: none;
    }
}

#check {
    display: none;
}

.img_face {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin-top: 7px;
}

/* Contact form code below */

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #0272b8c1;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  margin-left: -150px;
}

.feedback-input:focus { border:2px solid #0272b8c1; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#0272b8c1;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(0, 0, 0);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  margin-left: -150px;
}
[type="submit"]:hover { background:#0272b8c1; }

/* Contact form code above */

/* ------- Footer css code css below------------ */

.footer-distributed{
	background: #ffffff;
	box-shadow: 0 1px 1px 0 #3D474D;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* footer-left */

.footer-distributed .footer-left{
	width: 40%;
}

.footer-left img {
  cursor: pointer;
}

/* The company logo */

.footer-distributed h3{
	color:  #3D474D;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #3D474D;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color: #0272b8c1;
	color: #3D474D;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #3D474D;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #3D474D;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color: #3D474D;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffffff;
	border-radius: 2px;

	font-size: 22px;
	color: #000000;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* ------- Footer css code css above------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
:root {
  --secondary-color: #ffffff;
  --contrast-color: #3D474D;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}
  
.container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #000000;
  animation: expand 1.8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 1.8s ease;
}
  
.container_content {
  width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}   
    
.container_img {
  width: 35%;
  animation: slideIn 1.5s ease-in-out forwards;
  
}

.par {
  height: auto;
  overflow: hidden;
}

p{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.btns_more {
  background: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 50px;
  padding: 8px 12px;
  color: #BF307F;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp .8s ease-in-out  forwards 1s;
}

.title {
  overflow: hidden;
  height: auto;
}

h1 {
  font-size: 40px;
  color: var(--contrast-color);
  margin-bottom: 20px;
  transform: translateY(100px);
  animation: slideUp .8s ease forwards .5s;
}

/* Divider code below */

.h-divider {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

/* Divider code above */

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*-------------------- @MEDIA below ---------------------*/

@media only screen and  (max-width: 1118px) {
  nav img {
    left: 8%;
  }
}

@media only screen and  (max-width: 944px) {
  nav img {
    left: 6%;
    top: 13px;
    width: 70px;
  }

  nav ul li a {
    font-size: 17px;
  }

  nav ul li:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
  }

  .for_social_icons {
    display: inline;
    cursor: pointer;
  } 

  .for_social_icons:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
  } 
}

@media only screen and  (max-width: 860px) {

  nav img {
    left: 8%; /* Adjust as needed */
  }

  .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .container_outer_img {
    margin: 20px;
  }

  .container_img {
    width: 60%; /* Adjust as needed */
    margin: 0 auto;
  }

  .exp_settings {
    font-size: 20px;
    letter-spacing: 5px;
  }

  .img_face {
    height: 310px;
  }

  label #btn {
    display: block;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #485a6c;
    top: 97px;
    left: -100%;
    text-align: center;
    transition: all .5s;;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
  }
  
  .for_social_icons {
    display: inline;
    line-height: 10px;
    size: 7rem;
    cursor: pointer;
  }

  .for_social_icons:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
  } 

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }

  .footer-distributed{
  font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-left img {
      cursor: pointer;
  }

  .footer-distributed .footer-center i{
  margin-left: 0;
  }
}

/* Apply styles to hide content when the menu is open */
body.menu-open {
  overflow: hidden; /* Disable scrolling */
  
  .skew-cc{
      display: none;
  }
    
  .skew-c{
      display: none;
  }
}