@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    height: 95px;
    background: #3D474D;
}

nav img {
    width: 70px;
    position: absolute;
    top: 13px;
    left: 12%;
    border-radius: 50%;
    cursor: pointer;
}

nav img:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 91px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    transition: 4s;
    text-decoration: none;
}

nav ul li a::before {
    content: ' ';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
}

.for_social_icons {
    display: inline;
    cursor: pointer;
} 

.for_social_icons:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
} 

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 91px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.img_face {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin-top: 7px;
}

.links {
    color: #264d3b;
    font-weight: 700;
    cursor: pointer;
}

.links:hover {
    color: #cce3ed;
    font-size: large;
    
}

article {
    line-height: 2.5rem;
    font-size: 1.1rem;
}

.exp_settings {
    font-family: fantasy;
    letter-spacing: 1.5rem;
    font-size: 100px;
    text-align: center;
}

.skills_icon {
    height: 150px;
}

.skills_icon:hover {
    transform: scale(1.15); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
}

.last_skills_icon {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center horizontally using margin */
}

.container_content {
    width: 50%;
}

.container_content_inner {
width: 80%;
margin-left: 80px;
}

.container_outer_img {
margin: 50px;
width: 50%;
overflow: hidden;
}   
    
.container_img {
width: 35%;
animation: slideIn 1.5s ease-in-out forwards;

}

.title {
overflow: hidden;
height: auto;
}

.feedback-input {
    color:rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #0272b8c1;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    margin-left: -150px;
}

.feedback-input:focus { border:2px solid #0272b8c1; }

form { max-width:420px; margin:50px auto; }

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#0272b8c1;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:rgb(0, 0, 0);
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    margin-left: -150px;
  }
  [type="submit"]:hover { background:#0272b8c1; }

.btns {
    height: 100%;
    position: relative;
    width: 150px;
    overflow: hidden;
}

.btns_more {
    background: transparent;
    border: 1px solid var(--contrast-color);
    border-radius: 50px;
    padding: 8px 12px;
    color: #BF307F;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-top: 15px;
    outline: none;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out  forwards 1s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
}

.h-divider {
    margin: auto;
    margin-top: 80px;
    width: 80%;
    position: relative;
}
  
.h-divider .shadow {
    overflow: hidden;
    height: 20px;
}
  
.h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
}

/* Main page separator see code below */

.separator {
    border: none;
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: #ccc; /* Line color */
    margin: 20px 0; /* Adjust the margin as needed to control the spacing */
}

.colour-block {
    background:#3D474D;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#fff;
}

.white-block {
    background:#fff;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#3D474D;
}
  
  /*------------------*/
  /*  SKEW CLOCKWISE  */
  /*------------------*/
.skew-cc{
    width:100%;
    height:100px;
    position:relative;
    left:0px;
    background: linear-gradient(to right bottom, #3D474D 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}
  
  /*-------------------------*/
  /* SKEW COUNTER CLOCKWISE  */
  /*-------------------------*/
.skew-c{
    width:100%;
    height:100px;
    position:relative;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #3D474D 50%);
}

/* ------- Main page separator see code above------------ */

/* ------- Footer css code css below------------ */

.footer-distributed{
	background: #ffffff;
	box-shadow: 0 1px 1px 0 #3D474D;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

.footer-left img {
    cursor: pointer;
}

/* The company logo */

.footer-distributed h3{
	color:  #3D474D;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
    cursor: pointer;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #3D474D;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color: #0272b8c1;
	color: #3D474D;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #3D474D;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #3D474D;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color: #3D474D;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffffff;
	border-radius: 2px;

	font-size: 22px;
	color: #000000;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* ------- Footer css code css above------------ */


/*-------------------- @MEDIA below ---------------------*/

@media only screen and  (max-width: 1118px) {

    .feedback-input {
        margin-left: 0; /* Remove negative margin on smaller screens */
    }

    form {
        max-width: 80%; /* Adjust as needed */
        margin: 50px auto; /* Center the form on smaller screens */
    }

    [type="submit"] {
        margin-left: 0; /* Ensure the button aligns properly on smaller screens */
    }

    nav img {
      left: 8%;
    }
    
}

@media only screen and  (max-width: 1500px) {

    .feedback-input {
        margin-left: 0; /* Remove negative margin on smaller screens */
    }

    form {
        max-width: 80%; /* Adjust as needed */
        margin: 50px auto; /* Center the form on smaller screens */
    }

    [type="submit"] {
        margin-left: 0; /* Ensure the button aligns properly on smaller screens */
    }
}

@media only screen and  (max-width: 944px) {

    .feedback-input {
        margin-left: 0; /* Remove negative margin on smaller screens */
    }

    form {
        max-width: 80%; /* Adjust as needed */
        margin: 50px auto; /* Center the form on smaller screens */
    }

    [type="submit"] {
        margin-left: 0; /* Ensure the button aligns properly on smaller screens */
    }

    nav img {
        left: 6%;
        top: 13px;
        width: 70px;
    }
  
    nav ul li a {
        font-size: 17px;
    }

    nav ul li:hover {
        transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
        opacity: 1;
    }

    .for_social_icons {
        display: inline;
        cursor: pointer;
    } 

    .for_social_icons:hover {
        transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
        opacity: 1;
    } 
}

@media only screen and  (max-width: 860px) {

    .p_exp {
        font-size: 10px; /* Adjust the font size as needed */
        margin-left: -40px;
        margin-right: -40px;
    }

    .feedback-input {
        margin-left: 0px; /* Remove negative margin on smaller screens */
    }

    form {
        width: 200%; /* Set the width to 100% for smaller screens */
        max-width: none; /* Remove any maximum width constraint */
        margin: 50px 0;
        margin-left: -75px;
    }

    [type="submit"] {
        margin-left: 0; /* Ensure the button aligns properly on smaller screens */
    }

    .exp_settings {
        font-size: 100px;
        letter-spacing: 5px;
        text-align: center;
        
    }

    .img_face {
        height: 310px;
    }
   
    label #btn {
        display: block;
   }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #485a6c;
        top: 97px;
        left: -100%;
        text-align: center;
        transition: all .5s;;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li:hover {
        transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
        opacity: 1;
    }
    
    .for_social_icons {
        display: inline;
        line-height: 10px;
        size: 7rem;
        cursor: pointer;
    }

    .for_social_icons:hover {
        transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
        opacity: 1;
    } 
  
    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }

    .footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

    .footer-left img {
        cursor: pointer;
    }

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

    .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    
      .container_outer_img {
        margin: 20px;
      }
    
      .container_img {
        width: 60%; /* Adjust as needed */
        margin: 0 auto;
      }
}

/* Apply styles to hide content when the menu is open */
body.menu-open {
    overflow: hidden; /* Disable scrolling */
    
    .skew-cc{
        display: none;
    }
      
    .skew-c{
        display: none;
    }
}