.top-body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.font-control {
  margin: 20px;
}

#font-size-range {
  width: 200px;
}

#font-size-value {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  font-weight: bold;
}

html {
  font-size: 22px;
}

body {
  background-color: #333;
  color: whitesmoke;
  border: 7px solid rgb(255, 255, 255);
  margin-left: 2cm;
  margin-right: 2cm;
  padding: 20px;
}

h1 {
  font-size: 40px;
}

/* Adjust the size as needed */
.small-text {
  font-size: 17px; 
}

/* Change color for unvisited (hyperlinks) links */
a {
    color: whitesmoke; /* Change to the desired color */
  }

  /* Change color for visited links */
  a:visited {
    color: whitesmoke; /* Change to the desired color */
  }

  /*Aligning text content to the right within an element*/
  .right-aligned-text {
    text-align: right;
  }

  a:active {
    color: whitesmoke;
  }

/*Horizontally center text*/
.centered-text {
  text-align: center;
}

/*To center an image*/
.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* eight: 100vh; /* Optional: Set a specific height if needed */
}

/*Table*/
table, tr, th, td, caption {
  border: 1px solid #eee;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

/*---------------------------------*/

/* Basoc type of selectors */

p {
  color: rgb(255, 255, 255);
}

.gray {
  color: gray;
}

.h2-color {
  color: darkseagreen;
}

.hightlight {
  text-transform: uppercase;
  background-color: chartreuse;
}

/*---------------------------------*/

/*---------------------------------*/

/* CSS Units */


/*---------------------------------*/