@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    height: 95px;
    background: #3D474D;
}

nav img {
    width: 70px;
    position: absolute;
    top: 13px;
    left: 12%;
    border-radius: 50%;
    cursor: pointer;
}

nav img:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 91px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    transition: 4s;
    text-decoration: none;
}

nav ul li a::before {
    content: ' ';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
}

.for_social_icons {
    display: inline;
    cursor: pointer;
} 

.for_social_icons:hover {
    transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
    opacity: 1;
} 

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 91px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.img_face {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin-top: 7px;
}

/* Main page separator see code below */

.separator {
    border: none;
    height: 2px; /* Adjust the thickness of the line as needed */
    background-color: #ccc; /* Line color */
    margin: 20px 0; /* Adjust the margin as needed to control the spacing */
}

.colour-block {
    background:#3D474D;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#fff;
}

.white-block {
    background:#fff;
    width:60%;
    padding:7% 20% 10% 20%;
    color:#3D474D;
}
  
  /*------------------*/
  /*  SKEW CLOCKWISE  */
  /*------------------*/
.skew-cc{
    width:100%;
    height:100px;
    position:relative;
    left:0px;
    background: linear-gradient(to right bottom, #3D474D 49%, #fff 50%),    linear-gradient(-50deg, #ffffff 16px, #000 0);
}
  
  /*-------------------------*/
  /* SKEW COUNTER CLOCKWISE  */
  /*-------------------------*/
.skew-c{
    width:100%;
    height:100px;
    position:relative;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, #3D474D 50%);
}

/* ------- Main page separator see code above------------ */

/* ------- Footer css code css below------------ */

.footer-distributed{
	background: #ffffff;
	box-shadow: 0 1px 1px 0 #3D474D;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #3D474D;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #3D474D;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color: #0272b8c1;
	color: #3D474D;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #3D474D;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #3D474D;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #000000;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color: #3D474D;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffffff;
	border-radius: 2px;

	font-size: 22px;
	color: #000000;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* ------- Footer css code css above------------ */


/*-------------------- @MEDIA below ---------------------*/

@media only screen and  (max-width: 1118px) {
    nav img {
      left: 8%;
    }
}

@media only screen and  (max-width: 944px) {
    nav img {
        left: 6%;
        top: 13px;
        width: 70px;
    }
  
    nav ul li a {
        font-size: 17px;
    }

    nav ul li:hover {
        transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
        opacity: 1;
    }

    .for_social_icons {
        display: inline;
        cursor: pointer;
    } 

    .for_social_icons:hover {
        transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
        opacity: 1;
    } 
}

@media only screen and  (max-width: 860px) {

    .img_face {
        height: 350px;
    }

    article {
        display: none;
    }
   
    label #btn {
        display: block;
   }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #485a6c;
        top: 97px;
        left: -100%;
        text-align: center;
        transition: all .5s;;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li:hover {
        transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
        opacity: 1;
    }
    
    .for_social_icons {
        display: inline;
        line-height: 10px;
        size: 7rem;
        cursor: pointer;
    }

    .for_social_icons:hover {
        transform: scale(1.05); /* Increase the size by 10% on hover (you can adjust this as needed) */
        opacity: 1;
    } 
  
    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }

    .footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}